
body {
  background-color: #000000;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 10px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  align-items: end;
}

 
.dropbtn:hover, .dropbtn:focus {
  background-color: #963810;
}

.clickDropdown {
  position: relative;
  /*display list items horizontally instead of vertically.*/
  display: inline-block;
  
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(220, 7, 7, 0.2);
  z-index: 1;
}

.dropContent a {
  color: rgb(75, 18, 229);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropContent a:hover {background-color: #aba7a7;}

.show {display: block;}

.zero{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
  color: white;
}


.one{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
  color: white;
}

.two{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
  color: white;
  
}

.three{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
  color: white;
}


.four{ 
  display: flex ; 
  font-size: 50px;
  text-align: center;
  padding: 200px;
  color: orange;
	letter-spacing: 2px;
}
.fifth{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 200px;
  color: white;
}

.sixth{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
  color: white;
}

.seven{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 200px;
  color: white;

}


#cursor {
	width: 3px;
	height: 50px;
	background-color: orange;
  animation: blink 1s infinite;
  
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}



