
body {
  background-color: #9dbff0;
}

.dropbtn {
  background-color: #9dbff0;
  color: white;
  padding: 10px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  align-items: end;
}

 
.dropbtn:hover, .dropbtn:focus {
  background-color: #963810;
}

.clickDropdown {
  position: relative;
  /*display list items horizontally instead of vertically.*/
  display: inline-block;
  
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(220, 7, 7, 0.2);
  z-index: 1;
}

.dropContent a {
  color: rgb(75, 18, 229);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropContent a:hover {background-color: #aba7a7;}

.show {display: block;}

.first{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
}

.second{ 
  display: flex ; 
  font-size: 70px;
  text-align: center;
  padding: 200px;
  
}

.third{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
}

.fourth{ 
  display: flex ; 
  font-size: 70px;
  text-align: center;
  padding: 200px;

}
.fifth{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 200px;
  
}

.sixth{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 180px;
}

.seventh{ 
  display: flex ; 
  font-size: 70px;
  justify-content: center;
  padding: 200px;

}






